@using static TaskR.Services.ToDoListService
@model TDLDetailsVm

<h2>Tasks für Liste: @Model.Name</h2>
<h6><a href="/ToDo/Index">Zurück zu Übersicht</a></h6>

<h4>Filtern & Suchen</h4>
<form action="/ToDo/TDLDetails/@Model.Id" method="post" class="m-2">
    <div class="row m-3">
        <div class="col-1">
            <label class="col-2">
                Filter:
            </label>
        </div>
        <div class="col-2">
            <select asp-for="Filter"
                    class="form-control"
                    asp-items="Html.GetEnumSelectList<TaskFilter>()">
            </select>
        </div>
        <div class="col-1">
            <label class="col-2">
                Suchtext:
            </label>
        </div>
        <div class="col-2">
            <input type="text" name="Query" class="form-control col-2" value="@Model.Query" />
        </div>
    </div>
    <div class="row m-3">
        <div class="col-2">
            <input type="submit" value="Filter anwenden" />
        </div>
    </div>
</form>
<table class="table-success table">
    <thead>
        <tr>
            <th scope="col" style="width:70px"></th>
            <th scope="col">Descripton</th>
            <th scope="col">IsCompleted</th>
            <th scope="col">CreatedOn</th>
            @* <th scope="col">CompletedOn</th> *@
            <th scope="col">Deadline</th>
            <th scope="col">Priority</th>
            <th scope="col">Tags</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Tasks)
        {
            bool isUrgent = item.IsUrgent();
            string urgentFlag = String.Empty;
            string stlyestring = String.Empty;
            if (isUrgent)
            {
                urgentFlag = @"!!! ";
                stlyestring = @"class=table-danger";
            };
            @* string stlyestring = isUrgent ? @"style=background-color:lightpink" : ""; *@
            @* var urgentstyle = isUrgent ? "style='background-color:lightpink'" : String.Empty; *@
            <tr @stlyestring>
                <td scope="row">@urgentFlag</td>
                <td scope="row">@item.Description</td>
                <td>@item.IsCompleted</td>
                <td>@item.CreatedOn.ToString("g")</td>
                @* <td>@item.CompletedOn</td> *@
                <td>@item.Deadline?.ToString("d")</td>
                <td>@item.Priority</td>
                <td>
                    @foreach (var t in item.Tags)
                    {
                        <span style="background-color:#@t.HexColor;"> @t.Name</span>
                        <br />
                    }
                </td>
                <td>
                    @*
                <a>Abschließen</a><br />
                <a>Details</a><br />
                <a>Löschen</a><br />
                *@

                    <a href="/ToDo/TaskDetails/@item.Id" class="btn btn-sm btn-info">Edit</a>
                    <a href="/ToDo/TaskDelete/@item.Id?listID=@Model.Id" class="btn btn-sm btn-danger" onclick="return confirm('Aufgabe löschen?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <span style="color:red">@TempData["ErrorMessage"]</span>
    <span style="color:green">@TempData["SuccessMessage"]</span>
    <span style="color:green">@TempData["DeleteMessage"]</span>
</p>

<a href="/ToDo/CreateTask/@Model.Id">Create Task</a>